@import '../../theme/theme-variables';

.EmoteDay {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	
	header {
		color: #fff4db;
		padding: 5px 10px;
	}

	&__body {
		padding: 5px 10px;
	}
}