
$light-yellow: #fff4db;
$dark-yellow: #f3b404;

$dark-purple: #480b67;


$font-color: #fff4db;

$color-happy: #1f9a0b;
$color-happy-highlight: #24b30d;

$color-sad: #ff7a00;
$color-sad-highlight: #ff8f28;