nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(
    circle 
    at top right, 
    #9928ef 0%, 
    #f3a22e 120%
    );
}

nav a,
nav a:active,
nav a:focus,
nav a:hover,
nav a:visited {
  flex-grow: 1;
  background: transparent;
  /*background-color: #dcb5ff;*/
  /*background-image: radial-gradient(circle, #dcb5ff,#bb90e2);*/
  color: white;
  display: block;
  padding: 0.5em;
  text-decoration: none;
}

nav a.isActive {
  border-bottom: 2px solid white;
}

/*nav a:hover {*/

/*background-color: #cf70ff;*/

/*background-image: radial-gradient(circle, #cf70ff,#bb90e2);*/

/*}*/

/*nav a:active {*/

/*background-color: #f3cfff;*/

/*background-image: radial-gradient(circle, #f3cfff,#bb90e2);*/

/*}*/