.chartToday {
	border-radius: 10px;
	border: 1px solid black;
	padding-bottom: 0.6rem;
	margin-bottom: 1ex;
	
	&__title {
		margin: 0.5ex 0 1ex 0;
		text-align: center;
	}

  &__body {
    display: flex;
  }

  &__pastEmotes {
		flex-grow: 1;
		display: flex;
	  	flex-wrap: wrap;
		justify-content: space-evenly;
	}
	
	&__emoteDay {
		text-align: center;
	}

  &__emoteControls {
    display: flex;
    flex-direction: column;
  }

  &__button {
    font-size: 60px; 
	}
}
