@import '../../theme/theme-variables';

.emote {
	&--HAPPY {
		color: $color-happy;

		button:focus > &,
		button:hover > & {
			color: $color-happy-highlight;
		}
	}

	&--SAD {
		color: $color-sad;

		button:focus > &,
		button:hover > & {
			color: $color-sad-highlight;
		}
	}
}